.boton-servicios {

    font-family: 'Lato', sans-serif;
    border: 0.2rem solid $colorDos;
    border-radius: 50px;

    color: $colorTres;
    text-decoration: none;
    padding: 0.5% 1%;

    &:hover {
        border: 0.2rem solid $colorTres;
        color: $colorTres;
    }

}