/* SECCION NOSOTROS*/

.bg-nosotros {
    background-image: url('../imagenes/nosotros/nosotros-textura.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
}

.nosotros-trabajando {
    border-radius: 20px;
}


.hero-home-nosotros {
    height: 100vh;
    background-image: url("../imagenes/nosotros/hero-nosotros.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    width: 100%;
    margin-bottom: 100px; 
}

.hero-home-servicios {
    height: 100vh;
    background-image: url("../imagenes/servicios/hero-servicios.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    width: 100%;
    margin-bottom: 100px; 
}